h1 {
    text-align: center;
    color: rgb(32, 32, 32)
}

h4 {
    text-align:right;
    margin-right: 30%;
    color: gray;
}

nav {
    background-color: rgb(193, 207, 255);
    color:rgb(228, 234, 255)
}

.navbar {
    color: white;
    
}